# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/
elpa/
eln-cache/
# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


auto-save-list/
url/
transient/
projectile-bookmarks.eld
